/* Пример стилей для таблицы */
.table-container {
    margin-top: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px;
    border: 1px solid #000000;
    text-align: left;
  }
  
  th {
    background-color: #1cc10d;
    color: #78896c;
  }
  
  tr:nth-child(even) {
    background-color: rgb(214, 232, 197);
  }
  
  tr:hover {
    background-color: #94cc34;
  }
  
  /* Стилизация кнопок пагинации */
  .pagination {
    margin-top: 20px;
  }
  
  .pagination button {
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: rgb(96, 56, 56);
    cursor: pointer;
  }
  
  .pagination button:hover {
    background-color: #0056b3;
  }
  
  .current {
    font-weight: bold;
    padding: 5px 10px;
    background-color: #007bff;
    color: rgb(88, 223, 103);
  }
  